* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.container h2{
    text-align: center;
    font-size: 40px;
    color: greenyellow;
    margin-bottom: 20px;
}
.joke-container{
    height: 100px;
}
.joke-container p{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
button{
    display: block;
    padding: 10px 20px;
    margin: 40px auto;
    border: 2px greenyellow solid;
    background-color: black;
    color: greenyellow;
    cursor: pointer;
}
img{
    width: 100%;
}